<!DOCTYPE html>
<html lang="ja">
<head>
</head>
<body class="bg-gray-200 font-sans w-full">
    <main class="container mx-auto px-6 text-gray-600 mb-10">
        <%# プロフィール %>
        <% if @user == current_user %>
            <h1 class="text-2xl font-bold mb-2 font-mono w-100 sm:w-5/6 mx-auto">プロフィール</h1>
            <div class="bg-gray-50 text-gray-700 sm:w-5/6 mx-auto rounded-lg">
                <div class="card-body font-mono w-full sm:w-11/12 mx-auto">
                    <table class="leading-10 text-lg">
                        <tr>
                            <th scope="row"><%= t(User.human_attribute_name(:name)) %></th>
                            <td><%= @user.name %></td>
                        </tr>
                        <tr>
                            <th scope="row"><%= t(User.human_attribute_name(:image)) %></th>
                            <td><%= image_tag @user.image_url, size: "200x200", class:"border border-gray-300 rounded-full" %></td>
                        </tr>
                    </table>
                    <%= link_to '編集', edit_profile_path, class: 'btn btn-outline w-20' %>
                </div>
            </div>
        <% else %>
        <% end %>

        <h1 class="text-2xl mt-7 mb-2 font-mono w-100 sm:w-5/6 mx-auto"><%= @user.name %> の投稿一覧</h1>
        <%# 投稿一覧 %>
        <div class="text-mg w-100 sm:w-5/6 mx-auto">
            <% if @posts.any? %>
                <% @posts.each do |post| %>
                    <%= render 'posts/post', post: post %>
                <% end %>
                <div class="flex justify-center text-2xl font-mono pt-5">
                    <%= paginate @posts %>
                </div>
            <% else %>
                <p class="mb-10">まだ投稿がありません。</p>
            <% end %>
        </div>
    </main>
</body>
</html>
