<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />

  <div class="drawer-content flex items-center justify-between">
    <!-- FontAwesome ハンバーガーアイコン -->
    <label for="my-drawer" class="drawer-button">
      <i class="fa-solid fa-bars fa-2x m-3" style="color: gray;"></i>
    </label>
  </div>

  <div class="drawer-side">
    <label for="my-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu p-4 w-70 font-mono min-h-full bg-base-200 text-base-content">
      <% if current_user %>
        <div class="mt-5">
          <i class="fa-solid fa-user fa-xl"></i>
          <%= current_user.name %><br><br>
          <%= image_tag current_user.image.url, class: 'aspect-square rounded-full mb-3', size: '100x100' %>
        </dev>
        <li><%= link_to '  ログアウト', logout_path, method: :delete, data: { turbo_method: :delete }, class: "text-blue-500 block my-3 fa-solid fa-right-to-bracket fa-mg" %></li>
      <% else %>
        <li class="mt-2"><%= link_to '  ログイン', login_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 fa-solid fa-right-to-bracket fa-mg" %></li>
        <li class="my-2"><%= link_to '  ユーザー登録', new_user_path, class: "text-blue-500 fa-solid fa-user fa-mg" %></li>
      <% end %>
      <li><%= link_to raw('<i class="fa-solid fa-compass fa-lg"></i> アプリについて'), static_pages_about_path, class: "my-2" %></li>
      <li><%= link_to raw('<i class="fa-solid fa-file fa-lg"></i> 新規投稿'), new_post_path, class: "my-2" %></li>
      <li><%= link_to raw('<i class="fa-solid fa-house fa-lg"></i> 投稿一覧'), posts_path, class: "my-2" %></li>
      <%# <li class="mb-5"><a href="#notifications"><i class="fa-solid fa-bell fa-lg"></i>通知</a></li> %>
      <li>
        <% if current_user %>
          <%= link_to raw('<i class="fa-solid fa-circle-user fa-lg"></i> マイページ'), profile_path(current_user), class: "my-2" %>
        <% else %>
          <%= link_to raw('<i class="fa-solid fa-circle-user fa-lg"></i> マイページ'), login_path, class: "my-2" %>
        <% end %>
      </li>
      <li><%= link_to raw('<i class="fa-solid fa-magnifying-glass"></i> ユーザー検索'), search_path, class: "my-2" %></li>
      <li><%= link_to raw('<i class="fa-solid fa-envelope fa-lg"></i> 問い合わせ'), "https://docs.google.com/forms/d/e/1FAIpQLSdbrCu1Uk1i1-vy5cKPvyG6PTTTWvJ7_hCHw-_xeg1mOPJenw/viewform" %>
      <li><%= link_to raw('<i class="fa-solid fa-users fa-lg"></i> プライバシーポリシー'), static_pages_privacy_policy_path, class: "my-2" %></li>
      <li><%= link_to raw('<i class="fa-regular fa-address-book fa-lg"></i> 利用規約'), static_pages_terms_of_service_path, class: "my-2" %></li>
    </ul>
  </div>
</div>
