<div class="post-card bg-white rounded p-5 mt-2 mb-4 sm:p-10">
    <div class="flex justify-left items-center gap-4">
        <%= link_to "/profiles/#{post.user.id}" do %>
            <%= image_tag post.user.image.url, class: 'aspect-square rounded-full ring-1 ring-gray-300 mb-3', size: '50x50' %>
        <% end %>
        <%= link_to post.user.name, "/profiles/#{post.user.id}", class: "my-2" %>
    </div>
    <p class="text-gray-700 mb-3 text-base">
        <%= link_to post.content, post_path(post) %>
    </p>
    <div class="flex justify-center">
        <% if post.image.present? %>
            <%= link_to post_path(post) do %>
                <%= image_tag post.image.url, class: "rounded" %>
            <% end %>
        <% end %>
    </div>
    <% if logged_in? %>
        <div class="text-md font-mono my-4">下記の選択肢から投票してください。</div>
    <% else %>
        <div class="my-5"></div>
    <% end %>
    <div class="grid grid-cols-1">
        <div class="rounded-lg px-1">
            <%= render 'posts/shared/post_tiles', post: post %>
        </div>
    </div>
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 mt-3">
        <li class="fa-solid fa-comment-dots sm:fa-lg my-3">
            <%= link_to "コメント数：", post_path(post) %>
            <%= post.comments.count %>
        </li>
        <div id="post_<%= post.id %>_favorite" class="my-2">
            <%= render "posts/shared/favorite", post: post %>
        </div>
    </div>

    <div class="grid grid-cols-2">
        <div class="col-start-1">
            <%# 共有機能 %>
            <div class="search-button">
                <%= link_to "https://twitter.com/intent/tweet?url=https://www.nanikiru-mahjong.com/posts/#{ post.id }&text=あなただったら何切る？&hashtags=麻雀&hashtags=なにきる&hashtags=nanikiru", target: '_blank' do %>
                    <%= image_submit_tag("x.jpg", class: 'search-icon h-9 p-1 rounded-full bg-black') %>
                <% end %>
            </div>
        </div>
        <div class="col-end-7">
            <p class="text-slate-400 text-sm sm:text-base text-right mt-2">
                <%= post.created_at.strftime('%Y/%m/%d %H:%M') %>
            </p>
        </div>
    </div>
</div>
