<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>なにきる 〜麻雀何切る相談所〜</title>
    <meta name="author" content="name">
    <meta name="description" content="description here">
    <meta name="keywords" content="keywords,here">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/> <!--Replace with your tailwind.css once created-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet">
    <style>:root{
    ::-webkit-scrollbar{height:10px;width:10px}::-webkit-scrollbar-track{background:#efefef;border-radius:6px}::-webkit-scrollbar-thumb{background:#d5d5d5;border-radius:6px}::-webkit-scrollbar-thumb:hover{background:#c4c4c4}</style>
</head>

<body class="bg-gray-200 font-sans leading-normal tracking-normal">
    <%= render 'layouts/header' %>
    <%= render 'layouts/sidebar' %>

    <div class="container px-4 md:px-0 max-w-6xl mx-auto -mt-3">
        <p class="text-xl md:text-3xl text-gray-600">会員登録</p>
        <div class="mx-0 sm:mx-6 text-gray-600"><br>

            <%= form_with model: @user, url: users_path, local: true, html: { multipart: true } do |form| %>
            <%# <%= form_with model: @user, url: posts_path, local: true, html: { multipart: true } do |form| %>
                <% if @user.errors.any? %>
                    <div id="error_explanation">
                        <ul>
                        <% @user.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                        </ul>
                    </div>
                <% end %>

                <div class="mb-4">
                    <%= form.label :name, "名前(ニックネーム)" %>
                    <%= form.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight bg-violet-50" %>
                </div>

                <div class="mb-4">
                    <%= form.label :nickname, "好きな役" %>
                    <%= form.text_field :nickname, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight bg-violet-50" %>
                </div>

                <div class="mb-4">
                    <%= form.label :メールアドレス %>
                    <%= form.email_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight bg-violet-50" %>
                </div>

                <div class="mb-4">
                    <%= form.label :パスワード %>
                    <%= form.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight bg-violet-50" %>
                </div>

                <div class="mb-4">
                    <%= form.label :password_confirmation, "パスワードの確認" %>
                    <%= form.password_field :password_confirmation, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight bg-violet-50" %>
                </div>

                <div class="mb-10">
                    <%= form.label :image, "アイコン画像" %><br>
                    <%= form.file_field :image, accept: "image/jpeg,image/gif,image/png", class: "mt-5" %>
                </div>
                <div class="actions">
                    <%= form.submit "登録", class: "bg-blue-900 hover:bg-blue-700 text-white font-sans py-2 px-4 rounded focus:outline-none focus:shadow-outline mb-10" %>
                </div>
            <% end %>
        </div>
    </div>

    <%= render 'layouts/footer' %>
</body>
</html>