<% if post.tiles.any? %>
  <div class="flex flex-wrap justify-center mt-2">
    <% post.post_tiles.each do |post_tile| %>
      <% tile = post_tile.tile %>

      <%= link_to post_votes_path(post_id: post.id, post_tile_id: post_tile.id), method: :post, data: { turbo_stream: "votes_for_#{post.id}_#{tile.name.parameterize}" }, class: "tile-image rounded-lg m-2" do %>
        <%= image_tag tile.image_path %>

        <turbo-frame id="votes_for_<%= post.id %>_<%= tile.name.parameterize %>">
          <div class="votes-count">
            <%= post.votes.where(post_tile: post_tile).count %> 票
          </div>
        </turbo-frame>
      <% end %>

    <% end %>
  </div>
<% end %>
