<!DOCTYPE html>
<html lang="ja">
    <head>
        <style>
            /* PC表示時のみ適用されるスタイル */
            @media (min-width: 1024px) {
                .post-card {
                    max-width: 65%;
                    margin: 0 auto 1.5rem;
                }
            }
        </style>
    </head>
    <body class="bg-gray-200">
        <%= render 'layouts/header' %>
        <%= render 'layouts/sidebar' %>
        <main class="container w-100 sm:w-5/6 mx-auto px-4 pt-8 text-gray-600 mb-10">
            <% if @posts.any? %>
                <% @posts.each do |post| %>
                    <%= render 'posts/post', post: post %>
                <% end %>
            <% else %>
                <p class="mb-10">まだ投稿がありません。</p>
            <% end %>

            <div class="flex justify-center text-2xl font-mono pt-5">
                <%= paginate @posts %>
            </div>
        </main>
        <%= render 'layouts/footer' %>
    </body>
</html>
