<!DOCTYPE html>
<html lang="ja">
<head>
    <title>投稿一覧</title>
</head>

<body class="bg-gray-200 font-sans leading-normal tracking-normal w-5/6 mx-auto max-w-screen-xl">
    <%= render 'layouts/header' %>
    <%= render 'layouts/sidebar' %>
    <main class="container mx-auto px-6 pt-8 text-gray-600 mb-10">
        <h1 class="text-3xl font-bold mb-10">投稿一覧</h1>

        <% if @posts.any? %>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                <% @posts.each do |post| %>
                    <div class="bg-white rounded-lg shadow p-4">
                        <p class="text-gray-700"><%= post.content %></p>
                        <!-- 画像が存在する場合のみ画像を表示 -->
                        <% if post.image.present? %>
                            <%= image_tag post.image.url %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        <% else %>
            <p class="mb-10">まだ投稿がありません。</p>
        <% end %>
    </main>

    <%= render 'layouts/footer' %>
</body>
</html>

