<!DOCTYPE html>
<html lang="ja">
<head>
  <!-- ここにTailwind CSSとdaisyUIのリンクまたはインポートを含める -->
</head>
<body class="bg-gray-200 font-sans leading-normal tracking-normal">

    <%= render 'layouts/header' %>
    <%= render 'layouts/sidebar' %>

    <div class="container mx-auto mt-5 p-10">
        <h1 class="text-3xl mb-6 text-gray-700">新規投稿画面</h1>
        <%= form_with(model: @post, local: true) do |form| %>
            <% if @post.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

                    <ul>
                        <% @post.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <div class="mb-6">
                <%= form.label :あなたの考え, class: 'text-gray-600' %>
                <%= form.text_area :content, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight bg-violet-50' %>
            </div>

            <!-- モーダルを開くためのボタン -->
            <label for="modal_1" class="btn modal-button mb-10">投票してもらう選択肢を選ぶ</label>
            
            <div class="mb-10">
                <%= form.label :画像（スクリーンショットなど）, class: 'text-gray-600' %><br>
                <br>
                <%= form.file_field :image, class: 'image-input', direct_upload: true %>
                <div id="image-preview" class="mt-4"></div>
            </div>

            <div class="actions">
                <%= form.submit "投稿する", class: 'bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
            </div>
        <% end %>
    </div>

    <!-- モーダル -->
    <input type="checkbox" id="modal_1" class="modal-toggle" />
    <div class="modal" role="dialog">
      <div class="modal-box">
        <h3 class="font-bold text-lg">牌の選択肢を選んでください。</h3>
        <p class="py-4">モーダルの内容がここに入ります。</p><br>
        <div class="modal-action">
          <label for="modal_1" class="btn">閉じる</label>
        </div>
      </div>
    </div>

    <%= render 'layouts/footer' %>
    
    <script>
        document.addEventListener("turbo:load", function() {
            const input = document.querySelector('.image-input');
            const preview = document.getElementById('image-preview');

            input.addEventListener('change', function(e) {
                const file = e.target.files[0];
                if (file) {
                    const reader = new FileReader();

                    reader.onload = function(e) {
                        const img = document.createElement('img');
                        img.src = e.target.result;
                        img.classList.add('rounded-lg', 'max-w-full', 'h-auto');
                        preview.innerHTML = ''; // Clear the preview
                        preview.appendChild(img); // Append the new image
                    };

                    reader.readAsDataURL(file);
                }
            });

            const openModalButton = document.getElementById("openModal");
            const closeModalButton = document.getElementById("closeModal");
            const modal = document.getElementById("modal");

            // モーダルを開く
            openModalButton.addEventListener("click", function() {
                modal.classList.remove("hidden");
            });

            // モーダルを閉じる
            closeModalButton.addEventListener("click", function() {
                modal.classList.add("hidden");
            });
        });

    </script>

</body>
</html>

