<!DOCTYPE html>
<html lang="ja">

<body class="bg-gray-200 font-sans leading-normal tracking-normal">

    <%= render 'layouts/header' %>

    <%= render 'layouts/sidebar' %>

    <div class="container mx-auto mt-5 p-10">
        <h1 class="text-3xl mb-6 text-gray-700">新規投稿画面</h1>

        <%= form_with(model: @post, local: true) do |form| %>
            <% if @post.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

                    <ul>
                        <% @post.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <div class="mb-6">
                <%= form.label :あなたの考え, class: 'text-gray-600' %>
                <%= form.text_area :content, class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight bg-violet-50' %>
            </div>

            <div class="mb-6">
                <%= form.label :選択肢, class: 'text-gray-600' %>
                <!-- ここに画像選択のためのボタンやフィールドを配置 -->
                <div id="tile-choice" class="tile-choice">
                <!-- ユーザーが選択した画像を表示 -->
                </div>
                <div id="tile-modal" class="modal" style="display: none;">
                    <div class="modal-content">
                        <% Dir.glob("app/assets/images/tiles/*").each do |path| %>
                        <%= image_tag path.split('/').last, class: "tile-image", data: { path: path.split('/').last } %>
                        <% end %>
                    </div>
                </div>



                <%= button_tag '画像を選択', type: 'button', id: 'open-modal', class: 'btn btn-primary' %>
            </div>

            <div class="mb-10">
                <%= form.label :画像（スクリーンショットなど）, class: 'text-gray-600' %><br>
                <br>
                <%= form.file_field :image, class: 'image-input', direct_upload: true %>
                <div id="image-preview" class="mt-4"></div>
            </div>

            <div class="actions">
                <%= form.submit "投稿する", class: 'bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
            </div>
        <% end %>
    </div>

    <%= render 'layouts/footer' %>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const input = document.querySelector('.image-input');
            const preview = document.getElementById('image-preview');

            input.addEventListener('change', function(e) {
                const file = e.target.files[0];
                if (file) {
                    const reader = new FileReader();

                    reader.onload = function(e) {
                        const img = document.createElement('img');
                        img.src = e.target.result;
                        img.classList.add('rounded-lg', 'max-w-full', 'h-auto');
                        preview.innerHTML = ''; // Clear the preview
                        preview.appendChild(img); // Append the new image
                    };

                    reader.readAsDataURL(file);
                }
            });
        });
    </script>

</body>
</html>

