
<!DOCTYPE html>
<html lang="ja">
<head>
    <!-- ヘッドの内容 -->
</head>
<body class="bg-gray-200 font-sans leading-normal tracking-normal">

    <%= render 'layouts/header' %>
    <%= render 'layouts/sidebar' %>

    <main class="container mx-auto px-6 pt-8 text-gray-600 mb-10">
        <h1 class="text-3xl font-bold mb-10">投稿詳細</h1>

        <div class="bg-white rounded-lg shadow p-4 mt-20">
            <p class="text-gray-700 mb-5 text-xl"><%= @post.content %></p>
            
            <!-- 投稿者が添付した画像ファイルの表示 -->
            <% if @post.image.present? %>
                <div class="flex justify-center my-6 md:mx-6">
                    <%= image_tag @post.image.url, class: "rounded-lg" %>
                </div>
            <% end %>

            下記の選択肢から投票してください。<br>

            <!-- モーダルで選択された牌画像の表示 -->
            <% if @post.selected_images.present? %>
                <div class="flex flex-wrap justify-center">
                    <% @post.selected_images.each do |image_url| %>
                        <%= image_tag image_url, class: "rounded-lg m-2", width: "55", height: "80" %>
                    <% end %>
                </div>
            <% end %>

            <!-- 編集ボタンの表示制御 -->
            <% if current_user == @post.user %>
                <%= link_to '編集', edit_post_path(@post), class: 'btn btn-outline my-4' %>
            <% end %>

        </div>
    </main>

    <%= render 'layouts/footer' %>

</body>
</html>

