<!DOCTYPE html>
<html lang="ja">

<body class="bg-gray-200 font-sans leading-normal tracking-normal">

    <%= render 'layouts/header' %>
    <%= render 'layouts/sidebar' %>

    <div class="flex items-center justify-center bg-gray-200 py-12">
        <div class="w-full max-w-md">
            <h1 class="mb-8 text-4xl text-center text-gray-800">ログイン</h1>

            <%= form_with url: user_sessions_path, local: true, data: { turbo: false }, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" do |f| %>
                <% if flash[:alert] %>
                    <div class="mb-4 text-red-500 font-mono">
                        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded" role="alert">
                            <%= flash[:alert] %>
                            <span class="absolute top-0 bottom-0 right-0 px-4 py-3"></span>
                        </div>
                    </div>
                <% end %>

                <div class="mb-4">
                    <%= f.label :email, "メールアドレス", class: "block text-black text-1xl font-bold mb-2" %>
                    <%= f.email_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 bg-violet-50 leading-tight focus:outline-none focus:shadow-outline" %>
                </div>

                <div class="mb-6">
                    <%= f.label :password, "パスワード", class: "block text-black text-1xl font-bold mb-2" %>
                    <%= f.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 bg-violet-50 mb-3 leading-tight focus:outline-none focus:shadow-outline" %>
                </div>

                <div class="flex items-center justify-between">
                    <%= f.submit "ログイン", class: "bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline", data: { disable_with: "送信中..." } %>
                </div>
            <% end %>
            <div class="text-center w-1/3 mx-auto bg-transparent hover:bg-gray-500 text-gray-500 font-semibold hover:text-white py-2 px-4 border border-gray-500 hover:border-transparent rounded">
                <%= link_to "ユーザー登録", new_user_path %>
            </div>
        </div>
    </div>

    <%= render 'layouts/footer' %>

</body>
</html>
