<!-- app/views/user_sessions/new.html.erb -->
<h1>ログイン</h1>

<%= form_with url: user_sessions_path, local: true do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <%= f.submit "ログイン" %>
<% end %>
